body{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    align-content: center;
    background-color: rgb(44, 43, 43);
    max-width: 500px;
    overflow: hidden;
    width: 100%;
}
#display{
     width: 100%;
     padding: 20px;
     font-size: 5rem;
     text-align: left;
     color: rgb(255, 255, 255);
     background-color: rgb(53, 53, 53);
     border: none;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: antiquewhite;
    font-size: 3rem;
    font-weight: bold;
}
button:hover{
    background-color: lightblue;
    transition: 0.2s;
}
button:active{
    background-color: rgb(132, 0, 255);
}
.operators{
    background-color: rgb(246, 250, 143);
}
@media(max-width: 768px) {
    #calculator {
        max-width: 100%;
        margin-top: 20px;
    }

    #display {
        font-size: 2rem;
        padding: 15px;
    }

    button {
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
    }

    #keys {
        gap: 5px;
        padding: 15px;
    }
}